<app-navmenu></app-navmenu>
<div id="pricing" class="pricing-area default-padding">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <div class="site-heading text-center">
                  <h2>MARKETING DIGITAL & ADMINISTRACIÓN DE REDES SOCIALES</h2>
                  <div class="devider"></div>
                  <p>
                    🚀 ¡Dale Vida a tu Marca con Nuestros planes de redes sociales! 🎨
                  </p>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="pricing-items">
          <div class="row">
              <!-- Single Itme -->
              <!-- <div class="col-lg-3 col-md-6 single-item">
                  <div class="pricing-item">
                      <div class="pricing-header">
                          <h4>Trial Version</h4>
                          <span>Save 25%</span>
                          <h2><sup>$</sup>40 <sub>/ Mensual</sub></h2>
                      </div>
                      <ul>
                          <li>📌Creación & configuración
                            (Facebook (Perfil & Pagina)</li>
                          <li>📌1 Video de 20seg(Estático ó Dinámico)</li>
                          <li>📌1 Diseño de Portada para Facebook</li>
                          <li>📌2 Artes para Markeplace de FB</li>
                          <li>📌12 Artes Publicitarios para la redes sociales</li>
                          <li>📌Calendario de planificación</li>
                          <li>📌Moderación de Comentarios de L-S de 10 am a 5 pm</li>
                          <li>📌Trabajo Inicio: /50 Trabajo Final: /50</li>
                      </ul>
                      <div class="footer">
                          <a class="btn circle btn-theme-border btn-sm" href="#">Escríbenos al WhatsApp</a>
                      </div>
                  </div>
              </div> -->
              <!-- End Single Itme -->

              <!-- Single Itme -->
              <div class="col-lg-4 col-md-6 single-item">
                  <div class="pricing-item">
                      <div class="pricing-header">
                          <h4>PLA BASIC</h4>
                          <span>Descuento del 35%</span>
                          <h2><sup>$</sup>60 <sub>/ Mensual</sub></h2>
                      </div>
                      <ul>
                          <li>📌Creación & configuración y Activación de campañas
                            (Facebook (Perfil & Pagina)</li>
                          <li>📌1 Video de 20seg(Estático ó Dinámico)</li>
                          <li>📌1 Adaptación para historia.</li>
                          <li>📌1 Diseño de Portada para Facebook</li>
                          <li>📌2 Artes para Markeplace de FB</li>
                          <li>📌14 Artes Publicitarios para la redes sociales</li>
                          <li>📌Propuesta para campaña</li>
                          <li>📌Lanzamiento y monitoreo de campaña(cliente cubre el costo del pautaje)</li>
                          <li>📌Calendario de planificación</li>
                          <li>📌Moderación de Comentarios de L-S de 10 am a 5 pm</li>
                          <li>📌Trabajo Inicio: /50 Trabajo final: /50</li>
                      </ul>
                      <div class="footer">
                          <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                            <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                            ¡Quiero este plan!
                          </a>
                      </div>
                  </div>
              </div>
              <!-- End Single Itme -->

              <!-- Single Itme -->
              <div class="col-lg-4 col-md-6 single-item">
                  <div class="pricing-item">
                      <div class="pricing-header">
                          <h4>PLAN DUO</h4>
                          <span>Descuento del 49%</span>
                          <h2><sup>$</sup>100 <sub>/ Mensual</sub></h2>
                      </div>
                      <ul>
                          <li>📌Creación, configuración & Administración
                            (Facebook (Perfil & Pagina) Instagram.</li>
                          <li>📌2 Artes para Markeplace de FB</li>
                          <li>📌1 Diseño de Portada para Facebook</li>
                          <li>📌1 Video de 20seg(Estático ó Dinámico)</li>
                          <li>📌1 Adaptación para historia.</li>
                          <li>📌16 Artes Publicitarios</li>
                          <li>📌1 Propuesta para campaña.</li>
                          <li>📌Segmentación de mercado objetivo</li>
                          <li>📌Calendario de planificación</li>
                          <li>📌Lanzamiento y Monitoreo de campañas.(Cliente cubre costo de Pautaje)</li>
                          <li>📌Moderación de Comentarios de L-S de 10 am a 5 pm</li>
                          <li>📌Trabajo Inicio: /50 Trabajo Final: /50</li>
                      </ul>
                      <div class="footer">
                        <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                          <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                          ¡Quiero este plan!
                        </a>
                      </div>
                  </div>
              </div>
              <!-- End Single Itme -->

              <!-- Single Itme -->
              <div class="col-lg-4 col-md-6 single-item">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h4>PLAN PREMIUM</h4>
                        <h2><sup>$</sup>150 <sub>/ Mensual</sub></h2>
                    </div>
                    <ul>
                        <li>📌Creación, Administración de redes sociales & configuraciones
                          (Facebook (Perfil & Pagina), Instagram, Gmail.</li>
                        <li>📌2 Red Social Opcional ( El clasificado, Pinterest, YouTube, Twitter, Blogger, TikTok)</li>
                        <li>📌4 Iconos de historias destacadas en Instagram</li>
                        <li>📌2 Artes para Markeplace de FB</li>
                        <li>📌18 Artes Publicitarios para la redes sociales.
                          Los mismos artes se compartirán a las Historias destacadas</li>
                        <li>📌4 Artes Publicitarios Trivial(meme, preguntas y respuesta, historia).</li>
                        <li>📌Ajuste Linea Grafica</li>
                        <li>📌2 Video de 20seg(Estático ó Dinámico)</li>
                        <li>📌2 Adaptaciones para historia.<br></li>

                        <div class="" *ngIf="mostrarmasplan">
                          <li>📌Moderación de Comentarios de L-S de 10 am a 5 pm</li>
                          <li>📌Segmentación de mercado objetivo</li>
                          <li>📌Lanzamiento y Monitoreo de campañas.(Cliente cubre costo de Pautaje)</li>
                          <li>📌Creación de contenidos para cada artes publicitarios</li>
                          <li>📌Uso del hashtag de su marca</li>
                          <li>📌Calendario de planificación</li>
                          <li>📌Asesoría por 1 hora</li>
                          <li>📌Trabajo Inicio: /50 Trabajo final: /50</li>
                        </div>
                        <button class="btn-mas" (click)="mostrarmasplan = !mostrarmasplan">{{mostrarmasplan ? 'Mostrar menos del plan' : 'Mostrar más del plan'}}</button>
                        <br>
                    </ul>
                    <div class="footer">
                      <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                        <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                        ¡Quiero este plan!
                      </a>
                    </div>
                </div>
              </div>
          <!-- End Single Itme -->
          </div>
      </div>
  </div>
  <div class="container">
    <p>Tenemos el paquete de redes sociales más completo y económico para tu negocio
      Despreocúpate nosotros nos encargamos, gestionamos tus redes sociales desde $60 USD, te asignamos a un ejecutivo para el diseño, planeación y posteo en tus redes, además te asignamos a un especialista en campañas para lanzar tus pautas publicitarias y obtener cientos de clientes.</p>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-facebook"></i><em>$40</em> Plan Administración de Facebook
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body lh-35">
            📌Creación & configuración
            Facebook (Perfil & Pagina).<br>

            📌1 Video de 20seg(Estático ó Dinámico) con Voz AI.<br>

            📌1 Adaptaciones para historia.<br>

            📌1 Diseño de Portada para Facebook.<br>

            📌10 Artes Publicitarios<br>

            📌2 Artes para Markeplace de FB.<br>

            📌Calendario de planificación.<br>

            📌Moderación de Comentarios de L-S de 10 am a 5 pm.<br>

            📌Trabajo Inicio: /50 Trabajo final: /50<br>

            .<br>
              <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                ¡Quiero este plan!
              </a>
          </div>
        </div>
      </div>
      <div class="card ">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fa fa-instagram"></i><em>$40</em> Plan Administración de Instagram
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body lh-35">
            📌Creación Instagram (En caso de que no tengas).<br>

            📌1 Video Reel promocional de 20seg con Voz AI.<br>

            📌1 Adaptaciones para historia.<br>

            📌Moderación de Comentarios de L-S de 10 am a 5 pm.<br>

            📌10 Artes para subida organica.<br>

            📌2 Artes Publicación Trivial.<br>

            📌 Los mismos artes realizados van a las
            Historias destacadas.<br>

            📌Calendario de planificación<br>

            📌1 Propuesta para campaña.<br>

            📌Trabajo Inicio: /50 Trabajo final: /50<br>
            .<br>
              <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                ¡Quiero este plan!
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="fa fa-twitter"></i><em>$40</em> Plan Administración de Twitter
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body lh-35">
            📌Creación de twitter (En caso de no tener).<br>

            📌1 Video de 20seg(Estático ó Dinámico) con Voz AI.<br>

            📌1 Diseño de Portada.<br>

            📌12 Artes Publicitarios<br>

            📌2 Artes Tipo trivial.<br>

            📌Calendario de planificación.<br>

            📌Moderación de Comentarios de L-S de 10 am a 5 pm.<br>

            📌Trabajo Inicio: /50 Trabajo final: /50<br>
            .<br>
              <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                ¡Quiero este plan!
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingfour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
              <i class="fa fa-linkedin"></i><em>$40</em> Plan Administración de Linkedin
            </button>
          </h5>
        </div>
        <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
          <div class="card-body lh-35">
            📌Creación de Linkedin (En caso de no tener).<br>

            📌1 Video de 20seg(Estático ó Dinámico) con Voz AI.<br>

            📌1 Diseño de Portada.<br>

            📌12 Artes Publicitarios<br>

            📌2 Artes Tipo trivial.<br>

            📌Calendario de planificación.<br>

            📌Moderación de Comentarios de L-S de 10 am a 5 pm.<br>

            📌Trabajo Inicio: /50 Trabajo final: /50<br>
            .<br>
              <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                ¡Quiero este plan!
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingfive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed text-left" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefour">
              <img class="ico-only" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgU3K4avPUct0q4wMDP7-xyLJ1uXZJF1aO4RfEMysgzONq1O7UnPgRJZtr3K7_245-NXl3GuUsPhq6rJEm6vh3e_BokLrvJw1pPMNKUgFI97IvXRWtZOTJHLT1S2w4u4ewW7k2YHCM4N7G4SwcnpERV_6brNrPHmeLsmMWV6LjBLXeVGt3J4O3RhqWKGKd1/s640/onlyfanslogo640x474.png" alt="Onlyfans">
              <em>$30</em> Creación de Cuenta Onlyfans
            </button>
          </h5>
        </div>
        <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
          <div class="card-body lh-35">
            📌 Información:<br>
            - Nombres<br>
            - Dirección<br>
            - Url de Pagina web (En caso de tenerlo)<br>
            - Cuenta Spotify (En caso de tenerlos) Accesos.<br>
            - Numeros de telefonos <br>
            - Cuenta de Twitter<br>
            📌 Fotografias<br>
              <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                ¡Quiero este plan!
              </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingsix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed text-left" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsefour">
              <img class="ico-map" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi4WIaRTmoAhAn-IYrMZly5SQiiwPH50aMU7AyxJ3tSCHLGZRGFMEUNCaS2_egxyw8SiyKJQ32sOs4lK6E3nSIfPE_0daH4Arfg5x5sJ1fwJufBu9SSo0AXiaSeAWyUXMkoFB_DpuQCEn6N6_fQVeXiz5rOdwVTU-1N4alGdJRjJLbtgwdbUZu1JPV0L3Vk/s256/maps_96in128dp.png" alt="map">
              <em>$60</em> Registro Ficha (Mapa) Google
            </button>
          </h5>
        </div>
        <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
          <div class="card-body lh-35">
            📌 Numero de telefono de la marca<br>
            📌 Servicios de la marca<br>
            📌 Logo de la marca<br>
            📌 Fotos de la marca<br>
            📌 Link de pagina web<br>
            📌 Fotografias<br>
            <p class="fx-11">
              <span class="badge badge-danger">NOTA</span>
               Una vez se haga el registro, se espera el tiempo max de 2sem. de verificación por parte de Google
            </p><br>
              <a class="btn circle btn-theme-effect btn-sm" href="https://wa.link/mo77fg">
                <img class="Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
                ¡Quiero este plan!
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
