.navbar-light {
  border-bottom: 1px solid var(--bs-gray-100);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #1b77d3;
  background-color: aliceblue;
}

.navbar {
  background-color: var(--bs-body-bg);
  box-shadow: 0 0.125rem 0.25rem rgba(2,6,23,.075);
  padding: 0.5rem;
}
.w-100 {
  width: 100%!important;
}
.px-3 {
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  align-items: center;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
}
.navbar .navbar-brand {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}
.offcanvas.offcanvas-start {
  border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  left: 0;
  top: 0;
  transform: translateX(-100%);
  width: var(--bs-offcanvas-width);
}

.offcanvas {
  height: 100vh;
  width: 100%;
}
.pt-0 {
  padding-top: 0!important;
}

.align-items-center {
  align-items: center!important;
}
.offcanvas-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}
.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}
.offcanvas-header a img {
  width: 60%;
}
.fx1{
  font-family: 'Poppins', sans-serif;
}
a#navbarDropdownMenuLink {
  padding: 0px 10px 0px 10px;
}
.main-header__top {
    position: relative;
    padding: 12px 30px 12px 30px;
    display: block;
    background-color: #000032;
    z-index: 1;
}
.top_ul li{
  list-style: none;
  padding-right: 20px;
}
.w-80{
  width: 80%;
}
.fx-22{
  font-size: 22px;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 10px;
  top: 3px;
  position: absolute;
}









@media (max-width: 992px){
  .column-pc{
    display: none !important;
  }
}
@media (min-width: 992px){
  .column-movil{
    display: none !important;
  }
}


































@media (min-width: 992px){
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .offcanvas {
    background-color: transparent!important;
    border: 0!important;
    flex-grow: 1;
    height: auto!important;
    position: static;
    transform: none!important;
    transition: none;
    visibility: visible!important;
    width: auto!important;
    z-index: auto;
  }
  .navbar-expand-lg .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    overflow-y: visible;
    padding: 0;
  }
  .align-items-lg-center {
    align-items: center!important;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .mt-lg-0 {
    margin-top: 0!important;
  }
  .mt-3 {
    margin-top: 1rem!important;
  }
  .align-items-center {
      align-items: center!important;
  }
  .d-flex {
      display: flex!important;
  }
}
