.elementor-price-table__price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: #555;
  font-weight: 800;
  font-size: 65px;
  padding: 40px 0;
  padding: 20px 0px 30px 0px;
}
.elementor-price-table__currency {
  margin-right: 3px;
  line-height: 1;
  font-size: .3em;
}
.elementor-price-table__integer-part {
  line-height: .8;
}
.elementor-price-table__price {
  font-family: "Quicksand", Sans-serif;
  font-weight: 400;
  line-height: 1px;
}
.elementor-price-table__fractional-part {
  line-height: 1;
  font-size: .3em;
  display: block;
}
.elementor-price-table__price .elementor-typo-excluded {
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
}
.title-h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #262A2B;
}
.fx-14{
  font-size: 14px;
}
.elementor-price-table__ribbon {
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  transform: rotate(90deg);
  width: 150px;
  overflow: hidden;
  height: 150px;
}
.elementor-price-table__ribbon-inner {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 700;
  background-color: #f03a17;
}

