<div class="container">
  <div class="card-deck mb-3 text-center pt-5">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal title-h4">Plan Emprendedor - Hosting Cpanel Express PHP x 1 año</h4>
      </div>
      <div class="card-body">
        <div class="elementor-price-table__price">
          <span class="elementor-price-table__currency">$</span>
          <span class="elementor-price-table__integer-part">90</span>
          <div class="elementor-price-table__after-price">
          <span class="elementor-price-table__fractional-part">99</span>
          <span class="elementor-price-table__period elementor-typo-excluded">Anual</span>											</div>
        </div>
        <ul class="list-unstyled mt-3 mb-4 text-justify fx-14">
          <li>📌 Dominio .com x 1año.</li>
          <li>📌 7 GB Capacidad</li>
          <li>📌 Ilimitada Transferenciapara</li>
          <li>📌 Ilimitados Correos.</li>
          <li>📌 2 Base de Datos MySQL</li>
          <li>📌 Asistencia 24/7/365</li>
          <li>📌 Copias de seguridad.</li>
          <li>📌 Candado de Seguridad SSL</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">¡Contratar hoy!</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal title-h4">Plan Emprendedor - Hosting Cpanel Junior PHP x 1 año</h4>
      </div>
      <div class="card-body">
        <div class="elementor-price-table__price">
          <span class="elementor-price-table__currency">$</span>
          <span class="elementor-price-table__integer-part">180</span>
          <div class="elementor-price-table__after-price">
          <span class="elementor-price-table__fractional-part">99</span>
          <span class="elementor-price-table__period elementor-typo-excluded">Anual</span>											</div>
        </div>
        <ul class="list-unstyled mt-3 mb-4 text-justify fx-14">
          <li>📌 Dominio .com x 1año.</li>
          <li>📌 Capacidad 30 GB</li>
          <li>📌 Ilimitada Transferencia</li>
          <li>📌 Ilimitados Correos.</li>
          <li>📌 Alojado de 2 Dominios Adicionales</li>
          <li>📌 10 Base de Datos MySQL</li>
          <li>📌 Copias de seguridad.</li>
          <li>📌 Asistencia 24/7/365</li>
          <li>📌 Candado de Seguridad SSL</li>
        </ul>
        <div class="elementor-price-table__ribbon">
          <div class="elementor-price-table__ribbon-inner">
            RECOMENDADO
          </div>
        </div>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">¡Contratar hoy!</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal title-h4">Plan Emprendedor - Hosting Cpanel Básico PHP x 1 año </h4>
      </div>
      <div class="card-body">
        <div class="elementor-price-table__price">
          <span class="elementor-price-table__currency">$</span>
          <span class="elementor-price-table__integer-part">250</span>
          <div class="elementor-price-table__after-price">
          <span class="elementor-price-table__fractional-part">99</span>
          <span class="elementor-price-table__period elementor-typo-excluded">Anual</span>											</div>
        </div>
        <ul class="list-unstyled mt-3 mb-4 text-justify fx-14">
          <li>📌 Dominio .com x 1año.</li>
          <li>📌 Capacidad 50 GB</li>
          <li>📌 2 GB RAM</li>
          <li>📌 Ilimitada Transferencia</li>
          <li>📌 Alojado de 3 Dominios Adicionales</li>
          <li>📌 Ilimitados Correos</li>
          <li>📌 15 Base de Datos MySQL</li>
          <li>📌 Copias de seguridad.</li>
          <li>📌 Asistencia 24/7/365</li>
          <li>📌 Candado de Seguridad SSL</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">¡Contratar hoy!</button>
      </div>
    </div>
  </div>
</div>
