#whatsapp {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  right:20px;
  z-index: 9999;
}
.qlwapp-description-container {
  padding: 10px 15px 15px 15px;
}
#qlwapp-box{
  position: fixed;
  bottom: 20px;
  right:20px;
  z-index: 9999;
}
svg {
  width: 80px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
}
circle {
  fill: #25d366;
}
path {
  fill: #fff;
}
.qlwapp-box {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  display: block;
}
.qlwapp-close {
  position: absolute;
  top: 7px;
  cursor: pointer;
  z-index: 99999;
  right: 7px;
  font-size: 18px;
}
.qlwapp-header{
  background-color: #25d366;
}
.qlwapp-description {
  position: relative;
  display: flex;
  align-items: center;
}
.qlwapp-description h3 {
  color: inherit;
  font-family: inherit;
  margin: 0;
}
.qlwapp-body {
  overflow-x: hidden;
  overflow-y: auto;
}
.qlwapp-box .qlwapp-account:nth-of-type(1) {
  transition-delay: 100ms;
}
.qlwapp-box .qlwapp-account:only-of-type {
  padding-top: 36px;
  padding-bottom: 36px;
}
.qlwapp-box .qlwapp-account {
  transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1), opacity 150ms ease-in;
}
.qlwapp-box .qlwapp-account {
  background-color: #fff;
}
.qlwapp-box .qlwapp-account {
  color: inherit;
  padding: 16px 36px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}
.qlwapp-box .qlwapp-avatar {
  position: relative;
  width: 62px;
  height: 62px;
}
.qlwapp-box .qlwapp-avatar .qlwapp-avatar-container {
  background-color: #eee;
}
.qlwapp-avatar .qlwapp-avatar-container {
  overflow: hidden;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  box-shadow: 0 0 0 2px #eee;
}
.qlwapp-avatar .qlwapp-avatar-container img {
  width: 100%;
  height: auto;
}
.qlwapp-box .qlwapp-info {
  padding: 0 16px;
}
.qlwapp-info .qlwapp-label {
  color: #626262;
}

.qlwapp-label {
  font-size: 12px;
  line-height: 1.5em;
  opacity: .6;
  display: block;
}
.qlwapp-info .qlwapp-name {
  color:  #626262;
}

.qlwapp-box .qlwapp-name {
  display: block;
  font-weight: bold;
  line-height: 1.5em;
}
.qlwapp-box .qlwapp-footer {
  color: #303030;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}

.qlwapp-box .qlwapp-footer {
  min-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  padding: 12px 36px;
}
