<section class="about-section">
  <div class="auto-container">
    <div class="row clearfix">

      <!-- Image Column -->
      <div class="image-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="image">
            <img src="https://html.themexriver.com/bloxic/images/resource/about.jpg" alt="">

            <!-- Email Box -->
            <div class="years-box">
              <span>2+</span> Años de Experiencia
            </div>
            <!-- End Email Box -->

            <!-- Experiance Box -->
            <div class="experiance">
              <div class="counter"><span class="odometer odometer-auto-theme" data-count="25"><div class="odometer-inside"><span class="odometer-digit"><span class="odometer-digit-spacer"></span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value"></span></span></span></span></span><span class="odometer-digit"><span class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span class="odometer-ribbon"><span class="odometer-ribbon-inner"><span class="odometer-value"></span></span></span></span></span></div></span> +</div>
              <span class="years">Años de <br> Experiencia</span>
            </div>
          </div>
        </div>
      </div>

      <!-- content Column -->
      <div class="content-column col-lg-6 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="title">
            <a class="" target="_blank" href="https://drive.google.com/file/d/1E_xTeXB6_glj6_D7dQ27rXnrQ20gev-X/view?usp=sharing">Descargar PDF</a>
          </div>
          <h2 class="pt-4">Estrategias de Marketing Digital</h2>
          <div class="text">En STCServiciosDiaz, entendemos que cada proyecto es único. <br>
            Nos sumergimos en la esencia de tu marca para ofrecer soluciones personalizadas que <br>
            no solo cumplen, sino que superan expectativas.</div>
          <ul class="check-list pt-3">
            <li>Para un Servicio de Atención al Cliente</li>
            <li>Para un Servicio de Entrenamiento Personal</li>
          </ul>
          <div class="designation"><span>Descarga el PDF GRATIS 2024 -</span>
            Te gusta lo que hacemos? Si es asi, apoyanos a seguir ayudando</div>
        </div>
      </div>

    </div>
  </div>
</section>
