.btn-contac{
  padding: 40px 0px 40px 0px;
}

.pt-60{
  padding-top: 60px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 12px;
  height: 0px;
}

.blog .carousel-indicators .active {
background: #707070;
}
.slider-clients {
padding-bottom: 50px;
padding-top: 50px;
}
.carousel-indicators{
  bottom: -45px !important;
}
.carousel-indicators li {
box-sizing: content-box;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
width: 30px;
height: 3px;
margin-right: 3px;
margin-left: 3px;
text-indent: -999px;
cursor: pointer;
background-color: #fff;
background-clip: padding-box;
border-top: 10px solid transparent;
border-bottom: 4px solid transparent !important;
opacity: .5;
transition: opacity .6s ease;
}




.home-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 100;
  padding: 155px 0 40px 0;
  background: url(https://demo.epic-webdesign.com/tf-besmart/v1/images/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
h1.home-title {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  color: #eaeaea;
  font-family: 'Roboto', sans-serif;
}
ul.features-list-hero {
  display: inline-block;
  margin-bottom: 25px;
}
ul.features-list-hero li {
  float: left;
  margin: 8px 0;
  color: #cecece;
  font-size: 15px;
  line-height: 24px;
}
