
<div class="navbar">
  <div class="container">
    <!-- <div class="panel-control-left">
      <a href="#" data-activates="slide-out-left" class="sidenav-control-left">
        <i class="fa fa-bars"></i>
      </a>
    </div> -->
    <div class="site-title">
      <a href="index.html" class="logo">
      <h1>Delicious Menú Demo</h1></a>
    </div>
    <!-- <div class="panel-control-right">
      <a href="#" data-activates="slide-out-right" class="sidenav-control-right">
        <i class="fa fa-shopping-bag"></i>
        <span>2</span>
      </a>
    </div> -->
  </div>
</div>
<!-- <div class="panel-control-left">
  <ul id="slide-out-left" class="side-nav collapsible" data-collapsible="accordion">
    <li>
      <a href="index.html">
        <i class="fa fa-home"></i>Home
      </a>
    </li>
    <li>
    <div class="collapsible-header">
      <i class="fa fa-indent"></i>Categories
      <span>
        <i class="fa fa-chevron-right"></i>
      </span>
    </div>
    <div class="collapsible-body">
  <ul class="categories-in collapsible" data-collapsible="accordion">
    <li><a href="categories.html">Categories Page</a></li>
    <li>
      <div class="collapsible-header">Sushi
        <span>
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
      <div class="collasible-body">
        <ul class="side-nav-panel">
          <li><a href="">Sushi Spicy</a></li>
          <li><a href="">Sushi Sweet</a></li>
          <li><a href="">Sushi Tasteful</a></li>
          <li><a href="">Sushi Steady</a></li></ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Pizza <span>
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
      <div class="collapsible-body">
        <ul class="side-nav-panel">
          <li>
            <a href="">Pizza Spicy</a>
          </li>
          <i>
            <a href="">Pizza Sweet</a>
          </i>
          <li>
            <a href="">Pizza Tasteful</a>
          </li>
          <li>
            <a href="">Pizza Steady</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Food
      <span>
        <i class="fa fa-chevron-right"></i>
      </span>
    </div>
      <div class="collapsible-body">
        <ul class="side-nav-panel">
          <li>
            <a href="">Food Spicy</a>
          </li>
          <li>
            <a href="">Food Sweet</a>
          </li>
          <li>
            <a href="">Food Tasteful</a>
          </li>
          <li>
            <a href="">Food Steady</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Drink
        <span>
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
      <div class="collapsible-body">
        <ul class="side-nav-panel">
          <li>
            <a href="">Drink Juice</a>
          </li>
          <li>
            <a href="">Drink Coffe</a>
          </li>
          <li>
            <a href="">Drink Milk </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  </div>
    </li>
    <li>
      <a href="chef.html">
      <i class="fa fa-cutlery"></i>Chef</a>
    </li>
    <li>
      <a href="menu-grid.html">
        <i class="fa fa-th-large"></i>Menu Grid
      </a>
    </li>
    <li>
      <a href="menu-list.html">
        <i class="fa fa-list"></i>Menu List
      </a>
    </li>
    <li>
      <a href="product-details.html">
        <i class="fa fa-shopping-basket"></i>Product Details
      </a>
    </li>
    <li>
      <a href="shopping-cart.html">
        <i class="fa fa-shopping-cart"></i>Shopping Cart
      </a>
    </li>
    <li>
      <a href="reservation.html">
        <i class="fa fa-send"></i>Reservation
      </a>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-rss"></i>Blog
        <span>
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
    <div class="collapsible-body">
      <ul class="side-nav-panel">
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="blog-single.html">Blog Single</a>
        </li>
      </ul>
    </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-file-powerpoint-o"></i>Pages
        <span>
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
      <div class="collapsible-body">
          <ul class="side-nav-panel">
          <li>
            <a href="faq.html">Faq</a>
          </li>
          <li>
            <a href="testimonial.html">Testimonial</a>
          </li>
          <li>
            <a href="404.html">404 Page</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="contact.html">
        <i class="fa fa-envelope"></i>Contact Us
      </a>
    </li>
    <li>
      <a href="login.html"><i class="fa fa-sign-in"></i>Login
      </a>
    </li>
    <li><a href="register.html">
    <i class="fa fa-user-plus"></i>Register
    </a>
    </li>
  </ul>
</div> -->
<!-- <div class="panel-control-right">
  <div id="slide-out-right" class="side-nav">
    <div class="row entry">
      <div class="col s4">
        <img src="https://rabonadev.com/delicious/img/cart1.png" alt=""></div>
        <div class="col s6">
          <div class="desc">
            <h6>Food Title</h6>
            <div class="rating">
              <span class="active"><i class="fa fa-star"></i>
              </span>
              <span class="active"><i class="fa fa-star"></i>
              </span>
              <span class="active"><i class="fa fa-star"></i>
              </span>
              <span class="active"><i class="fa fa-star"></i>
              </span>
              <span class=""><i class="fa fa-star"></i>
              </span>
            </div>
            <h6>
              <span>$20.00</span>
            </h6>
          </div>
        </div>
        <div class="col s2">
          <div class="action"><i class="fa fa-remove"></i>
          </div>
        </div>
      </div>
      <div class="row entry">
        <div class="col s4">
          <img src="https://rabonadev.com/delicious/img/cart2.png" alt="">
        </div>
        <div class="col s6">
          <div class="desc">
            <h6>Drink Title</h6>
            <div class="rating">
              <span class="active">
                <i class="fa fa-star"></i>
              </span>
              <span class="active">
                <i class="fa fa-star"></i>
              </span>
              <span class="active">
                <i class="fa fa-star"></i>
              </span>
              <span class="">
                <i class="fa fa-star"></i>
              </span>
              <span class="">
                <i class="fa fa-star"></i>
              </span>
            </div>
            <h6>
              <span>$10.00</span>
            </h6>
          </div>
        </div>
        <div class="col s2">
          <div class="action">
            <i class="fa fa-remove"></i>
          </div>
        </div>
      </div>
      <div class="row price">
        <div class="col s8">
          <h6>Total</h6>
        </div>
        <div class="col s4">
          <h6>$30.00</h6>
        </div>
      </div>
      <ul>
        <li>
          <button class="button">Reservation</button>
        </li>
        <li>
          <button class="button">View Cart</button>
        </li>
      </ul>
    </div>
</div> -->


<div class="slider-slick app-pages">
    <div class="slider-entry">
      <img src="https://rabonadev.com/delicious/img/slider1.jpg" alt="">
      <div class="overlay">

      </div>
      <div class="caption">
        <div class="container">
          <h2>Delicious Food & Drink</h2>
          <p>Find your need now</p>
          <!-- <a class="button" href="">Shop Now</a> -->
        </div>
      </div>
    </div>
    <div class="slider-entry">
      <div class="overlay">
      </div>
      <img src="https://rabonadev.com/delicious/img/slider2.jpg" alt="">
      <div class="caption">
        <div class="container">
          <h2>Cafe & Restaurant</h2>
          <p>Find your need now</p>
          <!-- <a class="button" href="">Shop Now</a> -->
        </div>
      </div>
    </div>
    <div class="slider-entry">
      <div class="overlay">

      </div>
      <img src="https://rabonadev.com/delicious/img/slider3.jpg" alt="">
      <div class="caption">
        <div class="container">
          <h2>Delicious & Tasteful</h2>
          <p>Find your need now</p>
          <!-- <a class="button" href="">Shop Now</a> -->
        </div>
      </div>
    </div>
</div>


<div class="offers">
    <div class="container">
      <div class="row">
        <div class="col s6">
          <div class="entry">
            <i class="fa fa-cutlery"></i>
            <h5>Master Chef</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <div class="col s6">
          <div class="entry">
            <i class="fa fa-list"></i>
            <h5>Many Menu</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <div class="entry">
            <i class="fa fa-birthday-cake"></i>
            <h5>Food Cake</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
        <div class="col s6">
          <div class="entry">
            <i class="fa fa-glass"></i>
            <h5>Juice Drink</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="open-hours app-section">
    <div class="container">
      <div class="app-title">
        <h4>Open Hours</h4>
        <ul class="line">
          <li>
            <i class="fa fa-snowflake-o"></i>
          </li>
          <li class="line-center">
            <i class="fa fa-snowflake-o">

            </i>
          </li>
          <li>
            <i class="fa fa-snowflake-o">

            </i>
          </li>
        </ul>
      </div>
      <div class="entry">
        <h5>Monday - Saturday</h5>
        <h6>07.00 AM - 12.00 PM</h6>
        <div class="dividing">

        </div>
        <h5>Sunday</h5>
        <h6>Open 24 Hours</h6>
      </div>
    </div>
</div>

<div class="menu app-section">
  <div class="container"><div class="app-title"><h4>Specials Menus</h4><ul class="line">
    <li>
      <i class="fa fa-snowflake-o">

      </i>
    </li>
    <li class="line-center">
      <i class="fa fa-snowflake-o">

      </i>
    </li>
    <li>
      <i class="fa fa-snowflake-o">

      </i>
    </li>
  </ul>
</div>
<div class="content">
<ul class="tabs">
    <li class="tab">
      <a href="#t1">Sushi</a>
    </li>
    <li class="tab">
      <a href="#t2">Pizza</a>
    </li>
    <li class="tab">
      <a href="#t3">Food</a>
    </li>
    <li class="tab">
      <a href="#t4">Drink</a>
    </li>
</ul>
<div id="t1"  >
    <div class="row">
      <div class="col s6">
        <div class="entry">
          <img src="https://rabonadev.com/delicious/img/sushi1.png" alt="">
          <h6>
            <a href="">Sushi Title</a>
          </h6>
          <div class="rating">
            <span class="active">
              <i class="fa fa-star">

              </i>
            </span>
            <span class="active">
              <i class="fa fa-star">

              </i></span>
              <span class="active">
                <i class="fa fa-star">

                </i>
              </span>
              <span class="active">
                <i class="fa fa-star">

                </i>
              </span>
              <span class="">
                <i class="fa fa-star">

                </i>
              </span>
            </div>
            <div class="price">
              <h5>$28</h5>
            </div>
            <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
          </div>
        </div>
        <div class="col s6"><div class="entry"><img src="https://rabonadev.com/delicious/img/sushi2.png" alt="">
          <h6>
            <a href="">Sushi Title</a>
          </h6>
          <div class="rating">
            <span class="active">
              <i class="fa fa-star">

              </i>
            </span>
            <span class="active">
              <i class="fa fa-star">

              </i>
            </span>
            <span class="active">
              <i class="fa fa-star">

              </i>
            </span>
            <span class="active">
              <i class="fa fa-star">

              </i>
            </span>
            <span class="active">
              <i class="fa fa-star"></i>
            </span>
          </div>
          <div class="price">
            <h5>$28</h5>
          </div>
          <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button></div></div></div>
          <div class="row">
            <div class="col s6">
              <div class="entry">
                <img src="https://rabonadev.com/delicious/img/sushi3.png" alt="">
                <h6>
                  <a href="">Sushi Title</a>
                </h6>
                <div class="rating">
                <span class="active">
                  <i class="fa fa-star">

                  </i></span><span class="active">
                    <i class="fa fa-star"></i></span>
                  <span class="active">
                    <i class="fa fa-star">

                    </i></span><span class="">
                      <i class="fa fa-star"></i>
                  </span>
                  <span class="">
                    <i class="fa fa-star">

                    </i>
                  </span>
                </div>
                <div class="price">
                  <h5>$28</h5>
                </div>
                <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
              </div>
            </div>
            <div class="col s6">
              <div class="entry">
                <img src="https://rabonadev.com/delicious/img/sushi4.png" alt="">
                <h6><a href="">Sushi Title</a>
                </h6>
                <div class="rating">
                  <span class="active">
                    <i class="fa fa-star">

                    </i>
                  </span>
                  <span class="active">
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="active">
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="active"><i class="fa fa-star">

                  </i>
                </span>
                <span class="">
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">
                <h5>$28</h5>
              </div>
              <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
            </div>
          </div>
        </div>
</div>
<div id="t2">
  <div class="row">
          <div class="col s6">
            <div class="entry">
              <img src="https://rabonadev.com/delicious/img/pizza1.png" alt="">
              <h6>
                <a href="">Pizza Title</a>
              </h6>
              <div class="rating">
                <span class="active">
                  <i class="fa fa-star"></i>
                </span>
                <span class="active">
                  <i class="fa fa-star"></i>
                </span>
                <span class="active">
                  <i class="fa fa-star"></i>
                </span>
                <span class="active">
                  <i class="fa fa-star"></i>
                </span>
                <span class="">
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price">
                <h5>$28</h5>
              </div>
              <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
            </div>
          </div>
          <div class="col s6">
            <div class="entry">
            <img src="https://rabonadev.com/delicious/img/pizza2.png" alt="">
            <h6>
              <a href="">Pizza Title</a>
            </h6>
            <div class="rating"><span class="active"><i class="fa fa-star"></i></span><span class="active">
              <i class="fa fa-star"></i>
            </span><span class="active">
              <i class="fa fa-star"></i></span>
              <span class="active">
                <i class="fa fa-star"></i>
              </span><span class="active">
                <i class="fa fa-star"></i></span>
              </div>
                <div class="price">
                  <h5>$28</h5>
                </div>
                <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
            </div></div>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="entry">
        <img src="https://rabonadev.com/delicious/img/pizza3.png" alt="">
        <h6>
          <a href="">Pizza Title</a>
        </h6>
        <div class="rating"><span class="active">
          <i class="fa fa-star"></i>
        </span>
        <span class="active">
          <i class="fa fa-star"></i>
        </span>
        <span class="active">
          <i class="fa fa-star"></i>
        </span>
        <span class=""><i class="fa fa-star"></i>
        </span>
        <span class="">
          <i class="fa fa-star"></i>
        </span>
      </div>
      <div class="price">
        <h5>$28</h5>
      </div>
      <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
    </div>
  </div>
  <div class="col s6"><div class="entry">
    <img src="https://rabonadev.com/delicious/img/pizza4.png" alt="">
    <h6>
      <a href="">Pizza Title</a></h6>
    <div class="rating">
      <span class="active"><i class="fa fa-star">

      </i>
    </span>
      <span class="active"><i class="fa fa-star">

    </i>
  </span>
  <span class="active">
    <i class="fa fa-star"></i>
  </span>
  <span class="active">
    <i class="fa fa-star">

    </i>
  </span>
  <span class="">
    <i class="fa fa-star"></i></span></div><div class="price">
      <h5>$28</h5>
    </div>
    <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
  </div>
</div>
  </div>
</div>
<div id="t3">
  <div class="row">
    <div class="col s6">
      <div class="entry">
        <img src="https://rabonadev.com/delicious/img/food1.png" alt="">
        <h6>
          <a href="">Food Title</a>
        </h6>
        <div class="rating">
          <span class="active">
            <i class="fa fa-star"></i>
          </span>
          <span class="active">
            <i class="fa fa-star"></i>
          </span>
          <span class="active">
            <i class="fa fa-star"></i>
          </span>
          <span class="active">
            <i class="fa fa-star"></i>
          </span>
          <span class="">
            <i class="fa fa-star"></i>
          </span>
        </div>
        <div class="price">
          <h5>$28</h5>
        </div>
        <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
      </div>
    </div>
    <div class="col s6">
      <div class="entry">
        <img src="https://rabonadev.com/delicious/img/food2.png" alt="">
        <h6>
          <a href="">Food Title</a>
        </h6>
        <div class="rating">
          <span class="active"><i class="fa fa-star"></i></span><span class="active"><i class="fa fa-star"></i></span><span class="active"><i class="fa fa-star"></i></span><span class="active"><i class="fa fa-star"></i>
          </span>
          <span class="active">
            <i class="fa fa-star"></i>
          </span>
          </div><div class="price">
            <h5>$28</h5>
          </div>
            <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button></div>
    </div>
  </div><div class="row">
            <div class="col s6">
              <div class="entry">
                <img src="https://rabonadev.com/delicious/img/food3.png" alt="">
                <h6>
                  <a href="">Food Title</a>
          </h6><div class="rating">
            <span class="active"><i class="fa fa-star"></i></span><span class="active">
            <i class="fa fa-star">

            </i>
          </span>
          <span class="active">
            <i class="fa fa-star"></i></span>
            <span class="">
              <i class="fa fa-star"></i></span>
              <span class=""><i class="fa fa-star"></i></span>
          </div>
          <div class="price"><h5>$28</h5></div><button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
        </div>
      </div>
      <div class="col s6">
        <div class="entry">
            <img src="https://rabonadev.com/delicious/img/food4.png" alt=""><h6><a href="">Food Title</a>
          </h6>
            <div class="rating"><span class="active"><i class="fa fa-star"></i>
            </span>
            <span class="active">
              <i class="fa fa-star"></i>
            </span>
            <span class="active"><i class="fa fa-star"></i></span>
              <span class="active">
                <i class="fa fa-star"></i>
              </span>
              <span class="">
                <i class="fa fa-star"></i>
              </span>
            </div>
            <div class="price">
              <h5>$28</h5>
            </div>
            <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
          </div>
        </div>
      </div>
</div>
<div id="t4">
  <div class="row">
        <div class="col s6">
          <div class="entry">
            <img src="https://rabonadev.com/delicious/img/drink1.png" alt="">
            <h6>
              <a href="">Drink Title</a>
            </h6>
            <div class="rating">
              <span class="active">
                <i class="fa fa-star"></i>
              </span>
              <span class="active">
                <i class="fa fa-star"></i>
              </span>
              <span class="active">
                <i class="fa fa-star"></i></span>
                <span class="active">
                  <i class="fa fa-star">
                </i></span>
                <span class="">
                  <i class="fa fa-star"></i>
                </span>
                </div>
                <div class="price">
                  <h5>$28</h5>
                </div>
                <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
                </div>
              </div>
              <div class="col s6">
                <div class="entry">
                  <img src="https://rabonadev.com/delicious/img/drink2.png" alt="">
                  <h6><a href="">Drink Title</a>
                  </h6>
                  <div class="rating">
                    <span class="active">
                  <i class="fa fa-star">

                  </i>
                </span>
                  <span class="active">
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="active">
                    <i class="fa fa-star"></i>
                  </span>
                    <span class="active">
                      <i class="fa fa-star"></i>
                    </span>
                    <span class="active">
                      <i class="fa fa-star"></i>
                  </span>
                </div>
                <div class="price">
                  <h5>$28</h5>
                </div>
                <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <div class="entry">
                <img src="https://rabonadev.com/delicious/img/drink3.png" alt="">
                <h6><a href="">Drink Title</a>
                </h6>
                <div class="rating">
                  <span class="active">
                    <i class="fa fa-star"></i>
                  </span>
                  <span class="active">
                    <i class="fa fa-star">

                  </i></span>
                  <span class="active">
                    <i class="fa fa-star"></i>
                  </span><span class="">
                  <i class="fa fa-star">

                  </i></span><span class=""><i class="fa fa-star"></i></span></div>
                  <div class="price"><h5>$28</h5></div><button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button></div>
                </div>
                <div class="col s6">
                  <div class="entry"><img src="https://rabonadev.com/delicious/img/drink4.png" alt=""><h6><a href="">Drink Title</a>
                </h6>
                <div class="rating">
                  <span class="active"><i class="fa fa-star"></i>
                </span>
                  <span class="active"><i class="fa fa-star"></i></span><span class="active"><i class="fa fa-star">

                </i></span>
                <span class="active"><i class="fa fa-star"></i></span><span class="">
                  <i class="fa fa-star"></i>
                </span></div><div class="price">
                  <h5>$28</h5>
                </div>
                  <button class="button"><i class="fa fa-whatsapp">¡Comprar Ahora!</i></button>
                </div>
              </div>
              </div>
</div>
</div>
</div>
</div>

<div class="testimonial app-section app-bg-dark">
  <div class="container">
    <div class="app-title">
                    <h4>Testimonial</h4><ul class="line">
                      <li>
                      <i class="fa fa-snowflake-o">

                      </i>
                    </li>
                      <li class="line-center"><i class="fa fa-snowflake-o">

                      </i></li><li><i class="fa fa-snowflake-o">

                  </i>
                  </li>
                </ul>
    </div>
    <div id="testimonial" class="owl-carousel owl-theme">
      <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo inventore, numquam assumenda nihil totam sunt, ipsum nemo distinctio ipsa voluptates magni enim? Totam, distinctio iure similique consequuntur quae neque nesciunt.</p>
        <img src="https://rabonadev.com/delicious/img/testimonial1.png" alt="">
        <h6>John Doe</h6>
        <strong>Web Developer</strong>
      </div>
      <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo inventore, numquam assumenda nihil totam sunt, ipsum nemo distinctio ipsa voluptates magni enim? Totam, distinctio iure similique consequuntur quae neque nesciunt.
        </p>
        <img src="https://rabonadev.com/delicious/img/testimonial2.png" alt="">
        <h6>John Doe</h6>
        <strong>Web Developer</strong>
      </div>
      <div class="item">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo inventore, numquam assumenda nihil totam sunt, ipsum nemo distinctio ipsa voluptates magni enim? Totam, distinctio iure similique consequuntur quae neque nesciunt.</p>
        <img src="https://rabonadev.com/delicious/img/testimonial3.png" alt="">
        <h6>John Doe</h6>
        <strong>Web Developer</strong>
      </div>
    </div>
  </div>
</div>



<footer>
  <div class="container">
    <h6>Find & follow us</h6>
    <ul class="icon-social">
                            <li class="facebook"><a href=""><i class="fa fa-facebook"></i>
                        </a>
                        </li>
                        <li class="twitter">
                          <a href="">
                            <i class="fa fa-twitter"></i></a></li><li class="google"><a href=""><i class="fa fa-google"></i>
                            </a>
                          </li>
                          <li class="instagram">
                            <a href=""><i class="fa fa-instagram">

                          </i>
                        </a>
                        </li>
                          <li class="rss">
                            <a href="">
                              <i class="fa fa-rss">

                              </i>
                            </a>
                          </li>
    </ul>
    <div class="tel-fax-mail">
      <ul>
                            <li>
                              <span>Tel:</span> 900000002</li>
                              <li><span>Fax:</span> 0400000098</li>
                              <li><span>Email:</span> info@youremail.com</li>
      </ul>
    </div>
    <div class="ft-bottom">
      <span>Copyright © 2024 Demo for STCServiciosDiaz. All Rights Reserved </span>
    </div>
  </div>
</footer>

