<app-navmenu></app-navmenu>
<div class="container pt-5">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿TRABAJAS SOLAMENTE EL LOGO?
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          No, el logotipo es solo una parte de tu identidad de marca,
          es importante pero no es suficiente, planificar una estrategia
          de marca antes de diseñar el logotipo es fundamental para cualquier
          tipo de negocio si queremos comunicar correctamente.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿CUÁL ES LA DIFERENCIA?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          La marca es la percepción global de una empresa,
          abarca elementos tangibles e intangibles, como la
          comunicación de la empresa, su tono de voz, la calidad
          del servicio y la experiencia del cliente. Mientras que
          el logotipo es solo una parte visual específica de tu marca
          que su función sera firmar todos los mensajes de tu comunicación.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            QUIERO QUE DISEÑES MI MARCA. ¿CÓMO LO HAGO PARA CONTACTARTE?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Si estás interesado en trabajar conmigo, completa el formulario
          que esta disponible en el sitio web o envíame un mensaje directo.
          Pero te recomiendo el formulario para así comprender mejor tu proyecto
          y tus necesidades. Si tengo disponibilidad para tu proyecto,
          te contactaré por correo electrónico en 72 horas después de
          enviar el formulario.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿DÓNDE PUEDO VER TUS TRABAJOS?
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          Aquí mismo en mi sitio puedes ver los proyectos que he desarrollado.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ¿CUÁNTAS PROPUESTAS DE DISEÑO PRESENTAS?
          </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          Se presentan dos propuestas de diseño, todas de acuerdo con la estrategia y el diagnóstico previamente aprobados.
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
