<section class="google-map py-0">
  <div class="height-500">

    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Catalina%20Aldaz%20S/N%20entre%20Portugal%20y%20Eloy%20Alfaro.%20Edificio%20La%20Recoleta%20Piso%202%20Ofic.%2021+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/population/">Population mapping</a></iframe></div>

  </div>
</section>






<section class="contact-layout1 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-7 mb-3">




        <form  (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="contact-form" novalidate="novalidate">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="contact-panel__title">Si tienes alguna pregunta específica, no dudes en hacérmela. </h4>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Nombres"
                id="nombre"
                formControlName="nombre"
                name="nombre"
                required=""
                aria-required="true">
              </div>
              <!-- vaidaciones -->
              <div *ngIf="contactForm.get('nombre')?.touched && contactForm.get('nombre')?.errors?.['required']"
              class="alert alert-danger">
              Este campo es requerido
              </div>
              <div *ngIf="contactForm.get('nombre')?.touched && contactForm.get('nombre')?.errors?.['minlength']"
              class="alert alert-danger">
              Minimo requerido {{ contactForm.get('nombre')?.errors?.['minlength']?.requiredLength }}
              </div>

            </div><!-- /.col-lg-6 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input
                type="email"
                formControlName="email"
                class="form-control"
                id="email"
                placeholder="Correo electronico"
                name="contact-email"
                required=""
                aria-required="true">
              </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <input type="text"
                class="form-control"
                id="phone"
                placeholder="Teléfono"
                formControlName="phone"
                name="phone"
                required=""
                aria-required="true">
              </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                <select class="form-control" id="option" formControlName="option">
                  <option value="">Asunto</option>
                  <option value="logotipo">Logotipo</option>
                  <option value="redessociales">Redes Sociales</option>
                  <option value="diseñografico">Diseño Grafico</option>
                  <option value="tiendaonline">Tienda Online</option>
                  <option value="paginaweb">Pagina Web</option>
                  <option value="otro">Otro..</option>
                </select>
              </div>
            </div><!-- /.col-lg-6 -->
            <div class="col-12">
              <div class="form-group mb-20">
                <textarea
                class="form-control"
                id="message"
                placeholder="Escribe su requerimiento"
                formControlName="message"
                name="contact-message">
                </textarea>
              </div>
              <button
              type="submit"
              [disabled]="contactForm.invalid"
              class="btn btn__primary btn__xhight mt-10">Enviar mensaje</button>

              <div *ngIf="isSubmit" class="contact-result pt-3">{{ submitMessage }}</div>
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </form>




      </div><!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-4 offset-lg-1 mb-3">
        <div class="contact-info d-flex flex-column justify-content-between bg-img" style="background-image: url(https://7oroof.com/demos/smartdata/assets/images/contact/1.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat;">
          <div>
            <h4 class="contact-info__title">"Si prefieres tener contacto directo con alguno de nuestros asesores,
              <br>nuestro equipo estará encantado de atenderte."</h4>
          </div>
          <a target="_blank" href="https://wa.link/mo77fg" class="btn btn__white btn__bordered">
            <img class="w-70 Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
            WhatsApp
          </a>
        </div><!-- /.contact-info -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

