.pb-60 {
  padding-bottom: 60px !important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}
.contact-layout1 .contact-form {
  padding: 60px;
  border-radius: 5px;
  background-color: #f4f4f4;
}
.contact-panel__title {
  font-size: 26px;
  margin-bottom: 40px;
}
.form-group {
  position: relative;
  margin-bottom: 30px;
}
.form-control {
  height: 60px;
  border: 2px solid #e7ebef;
  background-color: #ffffff;
  padding: 0 20px;
  border-radius: 2px;
  color: #51668a;
}
.btn__primary {
  background-color: #47a145;
  color: #ffffff;
}
.btn {
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  font-size: 15px;
  font-weight: 700;
  min-width: 170px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 15px;
  letter-spacing: 1px;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.mt-10 {
  margin-top: 10px !important;
}
.contact-layout1 .contact-info {
  overflow: hidden;
  border-radius: 3px;
  padding: 50px;
  height: 100%;
}

.bg-img {
  position: relative;
  z-index: 1;
}
.contact-layout1 .contact-info .btn {
  margin-top: 50px;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn__white.btn__bordered {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.btn__icon {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 20px;
}
.btn__bordered {
  background-color: transparent;
}
.btn__white {
  background-color: #ffffff;
  color: #0e2b3d;
}
.contact-layout1 .contact-info .contact-info__title {
  color: #ffffff;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 25px;
}
.contact-layout1 .contact-info .contact-info__desc {
  color: #ffffff;
  margin-bottom: 26px;
}
.Whataspp-btn {
  width: 15%;
}
