.about-section {
  position: relative;
  padding: 100px 0px 70px;
}
.auto-container {
  position: static;
  max-width: 1340px;
  padding: 0px 15px;
  margin: 0 auto;
}
.about-section .image-column {
  position: relative;
  margin-bottom: var(---margin-bottom-30);
}
.about-section .content-column {
  position: relative;
  margin-bottom: var(---margin-bottom-30);
}
.about-section .image-column .inner-column {
  position: relative;
  padding-right: var(--padding-right-50);
}
.about-section .content-column .inner-column {
  position: relative;
  padding-top: var(--padding-top-30);
  padding-left: var(--padding-left-50);
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.about-section .years-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 10;
  writing-mode: vertical-rl;
  /* transform: rotate(180deg); */
  font-weight: 400;
  letter-spacing: 1px;
  padding: 30px 15px;
  font-size: var(--font-16);
  color: var(--black-color);
  background-color: var(--white-color);
  font-family: var(--font-family-Outfit);
}
.about-section .experiance {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 128px;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  background-color: var(--white-color);
  font-family: var(--font-family-SpaceGrotesk);
}
.about-section .years-box span {
  color: var(--main-color);
}
.about-section .experiance .counter {
  position: relative;
  font-size: var(--font-30);
}
.about-section .experiance .years {
  position: relative;
  font-size: var(--font-14);
  color: var(--color-fiftyfour);
}
.about-section .experiance .counter span {
  position: relative;
  font-weight: 500;
  font-size: var(--font-49);
  color: var(--black-color);
}
.about-section .title {
  position: relative;
  padding: 6px 32px;
  font-weight: 500;
  border-radius: 2px;
  display: inline-block;
  font-size: var(--font-14);
  color: var(--black-color);
  border: 1px solid;
  font-family: var(--font-family-Inter);
}
.about-section .text {
  font-weight: 400;
  font-size: var(--font-16);
  color: var(--color-fiftyfive);
  margin-top: var(--margin-top-20);
  margin-bottom: var(--margin-bottom-25);
  font-family: var(--font-family-Outfit);
}
.about-section .options {
  position: relative;
}
.about-section .check-list {
  position: relative;
  margin-top: var(--margin-top-35);
}
.about-section .designation {
  position: relative;
  font-weight: 400;
  font-size: var(--font-13);
  color: var(--color-twentynine);
  margin-top: var(--margin-top-20);
  padding-top: var(--padding-top-20);
  font-family: var(--font-family-Jost);
  border-top: 1px solid rgba(var(--black-color-rgb), 0.10);
}
.about-section .options li {
  position: relative;
  font-weight: 400;
  display: inline-block;
  font-size: var(--font-16);
  color: var(--color-twentyfive);
  padding-left: var(--padding-left-45);
  margin-right: var(--margin-right-50);
  font-family: var(--font-family-Outfit);
}

.about-section .designation span {
  position: relative;
  font-size: var(--font-16);
  padding-right: var(--padding-right-30);
  font-family: var(--font-family-Josefin);
}
.about-section .designation span:after {
  position: absolute;
  content: '';
  right: 6px;
  top: 6px;
  height: 1px;
  width: 13px;
  opacity: 0.20;
  background-color: var(--black-color);
}
