.banner-area.bg-half-dark {
  position: relative;
  z-index: 1;
}

.fx1{
  font-family: 'Poppins', sans-serif;
}

.fx-13{
  font-size: 13px;
}
.color-7e{
  color: #7e7e7e;
}
.banner-area.top-pad-80 {
  padding-top: 80px;
}
.banner-area.bg-top {
  background-size: cover;
  background-position: bottom center;
}
.banner-area.auto-height, .banner-area.auto-height div {
  height: auto;
}
.banner-area {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.banner-area.auto-height, .banner-area.auto-height div {
  height: auto;
}

body, .banner-area, .banner-area div {
  height: 100%;
}
.align-center {
  align-items: center;
}
.text-capitalized h2 {
  text-transform: capitalize;
}
.banner-area h2 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 25px;
  line-height: 1.4;
}
.banner-area.text-center p, .banner-area .text-center p {
  padding-left: 10%;
  padding-right: 10%;
}

.banner-area p {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}
.banner-area.auto-height, .banner-area.auto-height div {
  height: auto;
}

.banner-area .buttons {
  margin-top: 30px;
}
.banner-area.text-center a, .banner-area .text-center a {
  margin-left: 7px;
  margin-right: 7px;
}
.banner-area .buttons a {
  margin-top: 10px;
}
.banner-area a {
  margin-right: 25px;
  margin-top: 40px;
}
.btn-theme-effect {
  border: 2px solid #4ac4f3;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.btn-theme-border {
  border: 2px solid #4ac4f3;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.btn-sm {
  padding: 12px 35px;
  font-size: 12px;
}
.btn {
  display: inline-block;
  font-weight: 700;
  line-height: 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
.banner-area a:last-child {
  margin-right: 0;
}
.banner-area .buttons a {
  margin-top: 10px;
}
.btn-theme-border::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 0;
  background: #4ac4f3;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}
.btn-theme-effect::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #4ac4f3;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}
.btn-theme-effect {
  border: 2px solid #4ac4f3;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.cta-inner {
  z-index: 1;
  position: relative;
}
.bgs-cover {
  background-size: cover;
  background-position: center;
}
.cta-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.9;
  background-color: #1b77d3;
}
.cta-item .icon {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  color: white;
  font-size: 55px;
  width: 100px;
  height: 100px;
  background: #bd0707;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
}
.cta-item {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.delay-0-2s {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cta-item h4 {
  color: white;
  line-height: 1.44;
  margin: 10px 0px;
}
.cta-item .details-btn:not(:hover) {
  color: white;
  background: transparent;
}

.cta-item .details-btn {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-left: auto;
  border: 1px solid white;
  padding: 20px 25px 20px 25px;
    border-radius: 50%;
}
.font-title{
  font-size: 23px;
  font-weight: 700;
}
.fx-13{
  font-size: 13px;
}
.pb-100, .py-100 {
  padding-bottom: 100px;
}

.pt-130, .py-130 {
  padding-top: 130px;
}
.bgc-black {
  background-color: #000032;
}
.service-item-four {
  padding: 40px;
  background: white;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 30px;
}
.service-item-four .image {
  width: 100%;
  padding-top: 70%;
  position: relative;
  margin-bottom: 25px;
}
.service-item-four .image img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 75%;
}
.service-item-four .theme-btn {
  width: 100%;
}

.theme-btn, a.theme-btn {
  z-index: 1;
  color: white;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  padding: 12px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  background: #0066ff;
}

.service-item-four h5 {
    line-height: 1.6;
    margin-bottom: 22px;
}
.theme-btn.style-three, a.theme-btn.style-three {
  color: #293043;
  background: transparent;
  border: 1px solid rgba(0, 102, 255, 0.2);
}
.theme-btn i, a.theme-btn i {
  font-size: 13px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
}
.theme-btn.style-three:after, a.theme-btn.style-three:after {
  background: #0066ff;
}

.theme-btn:after, a.theme-btn:after {
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  position: absolute;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  background: #01c9f5;
}
.w-70{
  width: 70%;
}







@media only screen and (min-width: 376px){
  .service-item-four h5 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 576px){
  .theme-btn.style-three, a.theme-btn.style-three {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}



