






<div class="pt-4 container">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <ul class="tab-link">
            <li class="active">
                <a data-toggle="tab" href="#tv">
                    <div class="tab-link-info flex align-center">
                        <img src="https://landing.engotheme.com/html/ecome/demo/img/product/macbook2.jpg" alt="">
                        <span>TV &amp; Video</span>
                    </div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#home">
                    <div class="tab-link-info flex align-center">
                        <img src="https://landing.engotheme.com/html/ecome/demo/img/product/sound.jpg" alt="">
                        <span>Home Audio <br>&amp; Theater</span>
                    </div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#camera">
                    <div class="tab-link-info flex align-center">
                        <img src="https://landing.engotheme.com/html/ecome/demo/img/product/sound2.jpg" alt="">
                        <span>Camera, Photo <br>&amp; Video</span>
                    </div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#headphone">
                    <div class="tab-link-info flex align-center">
                        <img src="https://landing.engotheme.com/html/ecome/demo/img/product/samsung3.jpg" alt="">
                        <span>Headphones</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="tab-content">
            <div id="tv" class="tab-pane in active">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img">
                                <a href="#"><img src="https://landing.engotheme.com/html/ecome/demo/img/product/pd2.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-info">
                                <div class="color-group"></div>
                                <div class="element-list element-list-left">
                                  <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="light fa fa-star"></span>
                                  </div>
                                    <ul class="desc-list">
                                        <li>Connects directly to Bluetooth</li>
                                        <li>Battery Indicator light</li>
                                        <li>DPI Selection:2600/2000/1600/1200/800</li>
                                        <li>Computers running Windows</li>
                                    </ul>
                                </div>
                                <div class="element-list element-list-middle">
                                    <p class="product-cate">Computers &amp; Accessories</p>
                                    <h3 class="product-title"><a href="#">Cordless TrackMan Wheel</a></h3>
                                    <div class="product-bottom">
                                        <div class="product-price"><span>$1,215.00</span></div>
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-button-group">
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-cart-plus'></i>
                                  </a>
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-heart'></i>
                                  </a>
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-clipboard'></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img">
                                <a href="#"><img src="https://landing.engotheme.com/html/ecome/demo/img/product/pd3.jpg" alt="" class="img-reponsive"></a>
                                <div class="ribbon-price red"><span>- 30% </span></div>
                            </div>
                            <div class="product-info">
                                <div class="color-group"></div>
                                <div class="element-list element-list-left">
                                    <ul class="desc-list">
                                        <li>Connects directly to Bluetooth</li>
                                        <li>Battery Indicator light</li>
                                        <li>DPI Selection:2600/2000/1600/1200/800</li>
                                        <li>Computers running Windows</li>
                                    </ul>
                                </div>
                                <div class="element-list element-list-middle">
                                    <p class="product-cate">Audio Speakers</p>
                                    <h3 class="product-title"><a href="#">HP 22er 21.5-inch LED</a></h3>
                                    <div class="product-bottom">
                                        <div class="product-price">
                                            <span class="red">$1.450.00</span>
                                            <span class="old">$1,215.00</span>
                                        </div>
                                        <a href="#" class="btn-icon btn-view">
                                            <span class="icon-bg icon-view"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-button-group">
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-cart-plus'></i>
                                  </a>
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-heart'></i>
                                  </a>
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-clipboard'></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 product-item">
                        <div class="pd-bd product-inner">
                            <div class="product-img">
                                <a href="#"><img src="https://landing.engotheme.com/html/ecome/demo/img/product/pd4.jpg" alt="" class="img-reponsive"></a>
                            </div>
                            <div class="product-info">
                                <div class="color-group">
                                    <a href="#" class="circle black"></a>
                                    <a href="#" class="circle skyblue"></a>
                                    <a href="#" class="circle pink"></a>
                                </div>
                                <div class="element-list element-list-left">
                                </div>
                                <div class="element-list element-list-middle">
                                    <p class="product-cate">Camera &amp; Photo</p>
                                    <h3 class="product-title"><a href="#">Cordless TrackMan Wheel</a></h3>
                                    <div class="product-bottom">
                                        <div class="product-price"><span>$1,215.00</span></div>
                                        <a href="#" class="btn-icon btn-view">
                                        <span class="icon-bg icon-view"></span>
                                    </a>
                                    </div>
                                </div>
                                <div class="product-button-group">
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-cart-plus'></i>
                                  </a>
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-heart'></i>
                                  </a>
                                  <a href="#" class="btn-icon">
                                    <i class='fa fa-clipboard'></i>
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
</div>



<div class="homepage-banner spc3">
  <div class="container container-240">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="banner-img effect-img3 plus-zoom">
                  <a href="#" class=""><img src="https://landing.engotheme.com/html/ecome/demo/img/banner/h2_b4.jpg" alt="" class="img-responsive"></a>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="banner-img effect-img3 plus-zoom">
                  <a href="#"><img src="https://landing.engotheme.com/html/ecome/demo/img/banner/h2_b4.jpg" alt="" class="img-responsive"></a>
              </div>
          </div>
      </div>
  </div>
</div>
