<app-navmenu></app-navmenu>
<div class="container pt-5">
  <div class="et_pb_text_inner"><h2 class="et_pb_toggle_title">📜 Aviso Legal de STCServiciosDiaz</h2>
    <p>Las inquietudes
      Este sitio web es administrado por STCServiciosDiaz, correo electrónico <strong>stcserviciosdiaz@outlook.com</strong><br>

      Todo el contenido que se muestra en la web solo se utiliza para informar a los visitantes y ofrecer nuestros servicios.<br>

      <strong>https://stcserviciosdiaz-ec.web.app/</strong> no es responsable de la adquisición realizadas en sitios web de terceros.<br>

      Toda la información proporcionada aquí tiene un valor profesional que garantizan el buen cumplimiento a nuestros clientes.
    </p>
  </div>
</div>
<app-footer></app-footer>
