.pricing-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  align-items: center;
}
.layout-right .pricing-heading {
  order: 2;
}
.layout-right .pricing-wrap {
  order: 1;
}
.cd-pricing-container {
  width: 100%;
}
.pricing-heading .p-heading {
  font-family: "Jost", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  color: #263B5E;
}
.pricing-heading .p-desc {
  font-family: "Jost", Sans-serif;
  font-size: 17px;
  letter-spacing: -0.2px;
  color: #6A8695;
}
.cd-pricing-list {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.pricing-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cd-pricing-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.cd-pricing-list>li {
  position: relative;
  padding: 0;
}
.pricing-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cd-pricing-wrapper {
  position: relative;
  margin: 0;
}
.cd-pricing-wrapper .is-visible {
  position: relative;
  z-index: 5;
}

.cd-pricing-wrapper>li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
}
.pricing-box {
  background-color: #fff;
  padding: 50px 0;
  border-radius: 2px;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 60px 0 rgba(0,0,0,.08);
  box-shadow: 0 10px 60px 0 rgba(0,0,0,.08);
}
.cd-pricing-wrapper .is-hidden {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.pricing-head {
  flex-direction: column;
}

.pricing-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul.p-list {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}
.pricing-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing-btn {
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 0px;
  border-radius: 2px 2px 2px 2px;
}
.pricing-head h4 {
  font-family: "Jost", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #263B5E;
}
.pricing-head h3 {
  align-items: flex-end;
}

.pricing-head h3 {
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
.pricing-head svg {
  fill: #5A49F8;
  width: 46px;
}

.pricing-head svg {
  width: 70px;
  margin: 20px 0;
}
ul.p-list li {
  font-family: "Jost", Sans-serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  color: #6A8695;
}
.contect{
  padding: 0px 20px 0px 20px;
  text-align: justify;
}
