<app-navmenu></app-navmenu>
<div class="container pt-5">
  <div class="et_pb_text_inner"><h2 class="et_pb_toggle_title">📜 Políticas de Privacidad de STCServiciosDiaz</h2>
    <p>
        1. Introducción 🌐<br>
        Bienvenido a STCServiciosDiaz. Tu privacidad es importante para nosotros. En esta política, explicamos cómo recopilamos, usamos y protegemos tu información personal.<br><br>

        2. Información que Recopilamos 📝<br>
        Recopilamos varios tipos de información para brindarte un mejor servicio:<br>

        Datos de contacto 📧: nombre, dirección de correo electrónico y número de teléfono.<br>
        Información de uso 💻: datos sobre cómo interactúas con nuestro sitio web y servicios.<br>
        Información de pago 💳: detalles de transacciones para procesar tus compras de servicios.<br><br>

        3. Cómo Usamos tu Información 🔧<br>
        Usamos tu información para:<br>

        Proporcionar y mejorar nuestros servicios de diseño web, publicidad y marketing 🌟.<br>
        Comunicarnos contigo sobre actualizaciones y promociones 📢.<br>
        Procesar transacciones y gestionar tu cuenta 💼.<br><br>

        4. Protección de tu Información 🔒<br>
        Tomamos medidas para proteger tu información personal contra acceso no autorizado, alteración, divulgación o destrucción:<br>

        Utilizamos cifrado SSL para proteger los datos durante la transmisión 🔐.<br>
        Implementamos controles de acceso restringido a nuestra base de datos 🔏.<br><br>

        5. Compartir tu Información 🤝<br>
        No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en los siguientes casos:<br>

        Proveedores de servicios que nos ayudan a operar nuestro negocio 🛠️.<br>
        Requerimientos legales o regulaciones 🏛️.<br><br>

        6. Cookies y Tecnologías Similares 🍪<br>
        Usamos cookies para mejorar tu experiencia en nuestro sitio web:<br>

        Cookies de sesión: para mantener tu sesión activa mientras navegas.<br>
        Cookies de análisis: para entender cómo usas nuestro sitio y mejorar nuestro servicio.<br><br>

        7. Tus Derechos 📝<br>
        Tienes derechos sobre tu información personal, incluyendo:<br>

        Acceso a tus datos personales 🗂️.<br>
        Solicitar la corrección de datos inexactos ✏️.<br>
        Solicitar la eliminación de tus datos personales 🗑️.<br>
        8. Cambios en la Política de Privacidad 🔄<br>
        Podemos actualizar esta política ocasionalmente. Te notificaremos de cualquier cambio publicando la nueva política en nuestro sitio web y enviándote una notificación 📧.<br><br>

        9. Contacto 📞<br>
        Si tienes alguna pregunta sobre esta política de privacidad, por favor contáctanos:<br>

        Correo Electrónico: [tu-email@ejemplo.com] 📧<br>
        Teléfono: [Tu Número de Teléfono] 📞<br>
        Gracias por confiar en STCServiciosDiaz para tus necesidades de diseño web, publicidad y marketing. 🌟<br>
    </p>
  </div>
</div>
<app-footer></app-footer>
<app-btnwhatsapp></app-btnwhatsapp>
