.pb-130, .py-130 {
  padding-bottom: 130px;
}
.z-1 {
  z-index: 1;
}

.rel {
  position: relative;
}
.mb-55, .my-55 {
  margin-bottom: 55px;
}

.section-title {
  margin-top: -7px;
}
.section-title .sub-title.style-two {
  color: #0066ff;
  text-decoration: none;
}

.section-title .sub-title {
  font-size: 18px;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #01c9f5;
  text-decoration: underline;
}
.mb-20, .my-20 {
  margin-bottom: 20px;
}
.section-title h2 {
  margin-bottom: 25px;
}

h2, .h2, .count-text {
  line-height: 1.22;
  font-size: 45px;
}
.pricing-plan-item:not(:last-child) {
  margin-bottom: 30px;
}

section.pricing-area {
  padding-top: 10%;
}

.pricing-plan-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  background: white;
  position: relative;
  -webkit-box-shadow: 10px 0 60px rgba(170, 170, 170, 0.2);
  box-shadow: 10px 0 60px rgba(170, 170, 170, 0.2);
}
.delay-0-2s {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.pricing-plan-item .price-features h4 {
  margin-bottom: 20px;
}
.pricing-plan-item .price-features {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 40px 50px 35px;
}
.pricing-plan-item .price-features .list-style-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.pricing-plan-item .price-features .badge {
  position: absolute;
  top: 0;
  left: 65%;
  color: white;
  font-size: 18px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  border-radius: 0;
  padding: 40px 16px 30px;
  text-transform: uppercase;
  background: #ff8a00;
  font-family: "Merriweather", serif;
  -webkit-writing-mode: vertical-rl;
  -webkit-transform: translate(-50%, -100%) rotate(180deg);
  -ms-transform: translate(-50%, -100%) rotate(180deg);
  transform: translate(-50%, -100%) rotate(180deg);
  -webkit-clip-path: polygon(50% 15px, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 15px, 100% 0, 100% 100%, 0 100%, 0 0);
}


.pricing-plan-item .price-features .list-style-two li {
    width: 50%;
}
.list-style-two li:not(:last-child) {
    margin-bottom: 10px;
}
.list-style-two li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.list-style-two li:before {
  width: 5px;
  height: 5px;
  content: '';
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-top: 13px;
  margin-right: 15px;
  border-radius: 50%;
  background: #01c9f5;
}
.price-and-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 45px 50px 50px;
}
.price-and-btn .price {
  font-size: 40px;
  font-weight: 700;
  color: #01c9f5;
  font-family: "Merriweather", serif;
}
.price-and-btn .save {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

.wave-shapes {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100px;
  width: calc(100% + 100px);
  height: 100%;
}

.Whataspp-btn{
  width: 15%;
}

.bg-image {
  background-image: url(https://miraclestudio.design/html/rockethost/images/portfolio-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}











@media only screen and (min-width: 1200px){
  .pricing-plan-item .price-features .list-style-two li {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px){
  .pricing-plan-item .price-features {
    width: 65%;
  }
  .price-and-btn {
    width: 35%;
    border-left: 1px solid rgba(0, 102, 255, 0.1);
  }
}
@media only screen and (min-width: 576px){
  .theme-btn.style-three, a.theme-btn.style-three {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
