<div class="py-160 text-center">
  <div class="shape-parent container">
    <h1 class="display-3 mb-12 mt-2 aos-init aos-animate" data-aos="fade-up">
      404
    </h1>
    <p class="h3 mb-10 aos-init" data-aos="fade-up">
      Página no encontrada 😿
    </p>
    <p class="mb-40 pb-2 aos-init" data-aos="fade-up">
      ¿Quizás le gustaría ir a nuestra página de inicio?
    </p>
    <a class="btn btn-dark btn-with-ball mb-15 aos-init" data-aos="fade-up" href="/">Ir al Inicio
      <span class="btn-ball" style="transform: translateY(0px);">
      </span>
    </a>
  </div>
</div>
