.toast {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  max-width: 350px;
  padding: 1rem;
}
.toast-container {
  right: 1rem;
  bottom: 20px;
}
