<div class="main-header__top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-18 col-12 ">
        <ul class="text-white d-md-flex d-block top_ul pt-2 padding-left">
          <li><i class="fa fa fa-clock-o"></i><a class="text-white"> 9:00 am > 6:00 pm</a></li>
          <li><i class="fa fa-phone"></i><a href="tel:097897442" class="text-white"> (+593) 097 890 7442</a></li>
          <li><i class="fa fa-phone"></i><a href="tel:04144021398" class="text-white"> (+58) 414-4021398</a></li>
        </ul>
      </div>
     <!--  <div class="col-lg-4 col-md-14 col-12">
        <div class="">
          <div class="text-right pt-2">
            <a class="text-white"
               routerLink="/dasboard">
              <i class="fa fa-dashboard"></i> Admin
            </a>
            <a routerLink="/auth/login"
               class="mx-2 text-white cursor-pointer"
            >
                  <i class="fa fa-user"
                     aria-hidden="true">
                  </i>
                  Login
            </a>
            <a routerLink="/auth/registrame" class="text-white"><i class="fa fa-reply" aria-hidden="true"></i> Registro</a>
              <a routerLink="/tienda" class="text-white pl-2"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span class="badge badge-light">4</span></a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<header>
  <nav class="navbar navbar-expand-lg fx1 navbar-light w-100 justify-content-center">
     <div class="container px-3 column-pc">
        <div class="offcanvas offcanvas-start offcanvas-nav row">
           <div class="offcanvas-header col-md-3">
              <a href="/" class="text-inverse"><img src="./assets/logo/logo-completo.png" alt=""></a>
           </div>
           <div class="offcanvas-body pt-0 align-items-center col-md-9">
              <ul class="navbar-nav mx-auto align-items-lg-center">
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle smooth-scroll" routerLink="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
                  <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="https://stcserviciosdiaz.blogspot.com/" target="_blank">Blog</a></li>
                    <li><a class="dropdown-item" href="https://clientes-stcserviciosdiaz.blogspot.com/" target="_blank">Blog Clientes</a></li>
                    <li><a class="dropdown-item" href="https://www.behance.net/stcserviciosdiaz" target="_blank">Behace</a></li>
                  </div>
                </li>
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a>
                  <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/arquitectura">Arquitectura</a></li>
                    <li><a class="dropdown-item" routerLink="/paginasweb">Diseño y Desarrollo Web</a></li>
                    <li><a class="dropdown-item" routerLink="/tiendas-online">Desarrollos de Tiendas Online</a></li>
                    <li><a class="dropdown-item" routerLink="/estrategias">Estrategias de Marketing Digital</a></li>
                    <li><a class="dropdown-item" routerLink="/marketingdigital">Publicidad en Redes Sociales</a></li>
<!--                     <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">SEO y Optimización Web</a></li>
 -->                    <li><a class="dropdown-item" routerLink="/disenograficos">Diseño Gráfico</a></li>
               <!--      <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">Consultoría de Marketing</a></li>

                    <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">Creación de Naming</a></li> -->
                    <li><a class="dropdown-item" routerLink="/menudigital">Menú / Tarjeta Digital</a></li>
                    <li><a class="dropdown-item" routerLink="/campañas-adwords">Campañas Adwords optimizadas</a></li>
                    <li><a class="dropdown-item" routerLink="/videos">Videos Publicitarios</a></li>
                  </div>
                </li>
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cursos</a>
                  <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" routerLink="/wordpressyelementor">Curso de Wordpress y Elementor</a></li>
                    <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">Curso de Campañas Adwords optimizadas</a></li>
                  </div>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Hosting & Dominio"><a class="nav-link smooth-scroll" routerLink="/hosting">Alojamiento Web</a></li>
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Mayor información"><a class="nav-link smooth-scroll" href="https://drive.google.com/file/d/1MLekZJZOlGZ3bAwL2NhldONdgoTmkays/view?usp=sharings" target="_blank">Cátalogo</a></li>
<!--                 <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Nuevos Productos"><a class="nav-link smooth-scroll" routerLink="/tienda">Tienda</a></li>
 -->                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Mayor información"><a class="nav-link smooth-scroll" routerLink="/contactos">Contactos</a></li>
              </ul>
           </div>
        </div>
     </div>
       <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links movil -->
      <div class="collapse navbar-collapse column-movil " id="collapsibleNavbar">
        <ul class="navbar-nav text-center fx-22">
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle smooth-scroll" routerLink="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
            <div class="text-center fx-22 dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="https://stcserviciosdiaz.blogspot.com/" target="_blank">Blog</a></li>
              <li><a class="dropdown-item" href="https://clientes-stcserviciosdiaz.blogspot.com/" target="_blank">Blog Clientes</a></li>
              <li><a class="dropdown-item" href="https://www.behance.net/stcserviciosdiaz" target="_blank">Behace</a></li>
            </div>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a>
            <div class="text-center fx-22 dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/arquitectura">Arquitectura</a></li>
              <li><a class="dropdown-item" routerLink="/paginasweb">Diseño y Desarrollo Web</a></li>
              <li><a class="dropdown-item" routerLink="/estrategias">Estrategias de Marketing Digital</a></li>
              <li><a class="dropdown-item" routerLink="/marketingdigital">Publicidad en Redes Sociales</a></li>
<!--               <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">SEO y Optimización Web</a></li>
 -->              <li><a class="dropdown-item" routerLink="pages/disenograficos">Diseño Gráfico</a></li>
         <!--      <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">Consultoría de Marketing</a></li>
              <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">Arquitectura</a></li>
              <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">Creación de Naming</a></li> -->
              <li><a class="dropdown-item" routerLink="/menudigital">Menú / Tarjeta Digital</a></li>
              <li><a class="dropdown-item" routerLink="/campañas-adwords">Campañas Adwords optimizadas</a></li>
              <li><a class="dropdown-item" routerLink="/videos">Videos Publicitarios</a></li>
            </div>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cursos</a>
            <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/wordpressyelementor">Curso de Wordpress y Elementor</a></li>
              <li><a class="dropdown-item" routerLink="/" data-toggle="modal" data-target="#exampleModal">Curso de Campañas Adwords optimizadas</a></li>
            </div>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Hosting & Dominio"><a class="nav-link smooth-scroll" routerLink="/hosting">Alojamiento Web</a></li>
          <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Mayor información"><a class="nav-link smooth-scroll" href="https://drive.google.com/file/d/1MLekZJZOlGZ3bAwL2NhldONdgoTmkays/view?usp=sharings" target="_blank">Cátalogo</a></li>
<!--           <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Nuevos Productos"><a class="nav-link smooth-scroll" routerLink="/tienda">Tienda</a></li>
 -->          <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Mayor información"><a class="nav-link smooth-scroll" routerLink="/contactos">Contactos</a></li>
        </ul>
      </div>
  </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Actualmente estamos en construcción de la vista.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





















