<app-navmenu></app-navmenu>
<div class="form-body without-side">
  <div class="container">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Iniciar sesión en la cuenta</h3>
                    <p>Acceso a la herramienta más poderosa de toda la industria del diseño y web..</p>

                    <form [formGroup]="form" (ngSubmit)="logIn()">
                      <input
                      class="form-control"
                      type="text"
                      name="email"
                      placeholder="Correo electronico"
                      formControlName="email"
                      required="">

                      <input
                      class="form-control"
                      type="password"
                      name="password"
                      placeholder="Contraseña"
                      formControlName="password"
                      required="">
                      <div class="form-button">
                          <button id="submit" type="submit" class="ibtn">Login</button> <a href="forget17.html">¿Contraseña olvidada?</a>
                      </div>
                    </form>
                    <div class="other-links">
                        <div class="text">O Inicia sesión con</div>
                        <app-button-providers [isLogin]="true" />

                    </div>
                    <div class="page-links">
                        <a routerLink="/registrame">Registrame</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

