<app-navmenu></app-navmenu>


<div class="home-wrapper">

  <div class="container home-wrappe-inside">

      <!--begin row-->
      <div class="row margin-bottom-30">

          <!--begin col-md-6-->
          <div class="col-md-6 padding-top-20">

              <h1 class="home-title wow fadeIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">
                DISEÑO DE CATÁLOGO + AJUSTE DE CONTENIDO
              </h1>

              <ul class="features-list-hero catalogo-hero">
                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌Asesoría personalizada
                  </li>
                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌3 Diseño de referencia del catalogo
                  </li>
                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌Carga de hasta 50 productos
                  </li>

                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌Sin límite de hojas
                  </li>
                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌 Enlaces del producto
                  </li>
                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌5 max Correcciones del diseño elegido(color, texto, tamaño).
                  </li>
                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌Editables entregables (AI.PDF)
                  </li>
                  <li class="wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                    📌Trabajo Inicio: /50% Trabajo final: /50%
                  </li>
                  <li class="resalt">📌Precio Antes: $50
                    PRECIO PROMOCIÓN $40 </li>
                  <li>📌 Agregado de productos adicionales el valor es de 0.50ctv.</li>
                  <li>📌 Trabajo Inicio: 50/50</li>
                  <span class="send-whastapp">
                    Compartir.:
                    <i class="fa fa-whatsapp cursor-pointer"
                       (click)="enviarViaWhatsAppcatalogo()"
                       style="font-size:20px"></i>
                  </span>
              </ul>


          </div>

      </div>
  </div>
</div>

<div class="container pt-60">
  <div class="">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="carousel-item">
          <div class="row">
              <div class="col-md-4">
                  <a href="https://wa.link/mo77fg" target="_blank">
                      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiEMYqdQBsQJ28K8X6nNXnBXBt_y7NDoLY1-1xZk8dbr6oVR1dagNVVR0XqjuH9OZO-Ycfj3w1Haai94KKX-aM1vsravtyFeLdEy0Z0f47ZOK_2HU6VLx3285NTM9fF6ewsy1wSzPgwSbY55zBOQg-2CYurXBdOLfcGK8_m4hE6qirKEzfI0AJAuR3qjxbZ/s2000/post-162.jpg" alt="Image" style="max-width:100%;">
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="https://wa.link/mo77fg" target="_blank">
                      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiLAEPq617jQ4tW1FeEvkwVv66kqcx1xF5WF-MgKjIzkvvYYj4KZf9qC5tE9vUvkyiWhpyP0nR8_kph_B_g5LPfDZs9SKxuIbFX3dCZVR8eChK7JgGtIOoIvU1hqHHQ4wTzm45-8x9MDa0aUWz-KxJuW2b7SdooQbt26bekl9FKY0xeg3ZiqNi6xQRnyz_9/s1600/IMG-20240210-WA0004.jpg" alt="Image" style="max-width:100%;">
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="https://wa.link/mo77fg" target="_blank">
                      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhuzrmLGowVNQh4toxtA_2f3J4fc2OrcETJ4EUvAM1ayXcUhHMScPdV-B5ZMp7vnCClzLcvOUCI235R7M3FcAo1NKSmUqIdCrnIjPcmMvmpd0xeXFSLbHfmt8HS0CaTXx86glh4NVUC6CA8wOSA6qK2y57QYjo91982YzamKyh5oPF8peOKjk_pGR3-u4uY/s2048/430040326_826575902817211_5069370753295882927_n.jpg" alt="Image" style="max-width:100%;">
                  </a>
              </div>
          </div>
      </div>
      <!--.item-->
      <div class="carousel-item active">
          <div class="row">
              <div class="col-md-4">
                  <a href="https://wa.link/mo77fg" target="_blank">
                      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjxdL2xyGIJToT9RWMfn9rT5XPfHDZ2_nnbn2vdr7SbMRtNHLqf_Iox0M01Tyf3r4Ry7Co7DV7iyHKvuCb5xevIS7rWd88PQzvKAnVawaiU87qrMkCWY8e_ts4Wfz_zG3Fag6H2YTPub60rL6kC398jmJM7PjwQ5ot5j9arPyYGK0T-479Qp18s5C90Tls/s1080/Imagen%20de%20WhatsApp%202024-05-29%20a%20las%2013.51.20_5c7706b5.jpg"
                      alt="Image"
                      style="max-width:100%;">
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="https://wa.link/mo77fg" target="_blank">
                      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh08tAfqskINzOolQy21f_J8YCL0s9hxvskOMh1fnrDVufa-X1otsJOSN6mr6zR7wQYPlZ7mSR02e4OyD2oRNfdlP5NRo9Glr07NS-SW4x7zkxvNxsvf7p_qVjoSgp7NxHfQMaW8Mc3AUAfLeioausfrwY8TFCAWY9T8CMhCkxbPu1dq3z8Jt7hy99wBao/s1080/Imagen%20de%20WhatsApp%202024-05-29%20a%20las%2013.51.14_442efecc.jpg"
                      alt="Image"
                      style="max-width:100%;">
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="https://wa.link/mo77fg">
                      <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjJoy_LNDEXpogzL19j_422w7d7AA4zl7HctlXipXwxi7EiJOmp0iFrfmr80VtACkIoLE9Mu_ZxfAxSeZ4YHCW-SFTYla8XylTPEOaMGK6_aQ5aLid_oCh6KUaKrldmqKGCfYDyJZXA_QZVAH8WGRxTzAerPR2I3XLvlt9haCIgIn9dEdXzy-TrYblMnqhH/s1600/Imagen%20de%20WhatsApp%202023-11-10%20a%20las%2011.56.57_364bba42.jpg"
                      alt="Image"
                      style="max-width:100%;">
                  </a>
              </div>
          </div>
          <!--.row-->
      </div>
      <!--.item-->
    </div>
    <!--.carousel-inner-->
  </div>
  <div class="btn-contac">
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-eeb3d2dc-cdf3-4489-b5c9-2342109ab314" data-elfsight-app-lazy></div>

    <div class="elementor-button-wrapper text-center">
      <a href="https://wa.link/mo77fg"
      target="_blank"
      class="elementor-button-link elementor-button elementor-size-md"
      role="button">
        <a target="_blank" href="https://walink.co/a1480e">
          <button class="button type1">
              <img class="w-70 Whataspp-btn" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEggzs9vLsf4gZGX_Ks-xowgSvTfOhULhr34yMuLrUiPDFN3NeW8Ay_ikVi2nC-36zMgCwfN8hIXFebQUOqfGA2UZC__UeugC77LuC2fbHtkrhHf9Kx0ayDtWpAmbhTk79Nsm26_f029eKkdgIXEJRAFrTksq2tNAWsv8NSs5bG0Qokio9eCHDpgOiozdali/s201/whatsapp.png" />
              ¡COMUNÍCATE CON NOSOTROS!
            <i class="fa fa-angle-double-right"></i>
          </button>
        </a>
      </a>
    </div>

  </div>
</div>


<app-footer></app-footer>
<app-btnwhatsapp></app-btnwhatsapp>
